.App {
  display: grid;
  grid-template-areas:
    'header header header'
    'nav main main'
    'nav main main';
}

.App__header {
  grid-area: header;
  justify-self: center;
}

.Main__content {
  grid-area: main;
}

.Sidebar__nav {
  grid-area: nav;
}
