.App {
  display: grid;
  grid-template-rows: minmax(4em, 4em);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
  'header header header'
  'nav main main'
  '... main main';
  font-family: monospace;
  font-size: x-large;
  color: green;
  background: burlywood;
}

.App__header {
  grid-area: header;
  justify-self: center;
}

.Main {
  grid-area: main;
}

.Sidebar {
  grid-area: nav;
  display: flex;
  flex-flow: column;
  color: darkblue;
}